.container {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", sans-serif;
  align-items: center;
  width: 100%;
  margin: 30px auto 100px auto;
}

.header {
  width: 100%;
  margin: 20px 0;
  padding: 0 10px;
}

.header h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  text-transform: capitalize;
}

.cta {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.cta a {
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: 0 10px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 39%);
  transition: 0.3s ease-in-out;
}

.cta a:last-child {
  background-color: #ffff;
  color: #000000;
}

.cta a:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
}
