.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.inputcontainer {
  width: 30rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  transition: border 0.2s ease 0s;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
}

.inputcontainer:focus-within {
  border: 1px solid #000000;
}

.searchheader {
  text-align: center;
  color: #999;
  font-size: 20px;
  font-weight: 500;
  margin: 20px auto;
}

.inputcontainer label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  cursor: unset;
}

.input {
  width: 100%;
  font-size: 17px;
  color: #999;
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  appearance: none;
}

.icon {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-left: 1px solid #999;
  cursor: pointer;
}

.icon svg:hover {
  fill: #000000;
}

.error {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: rgb(230, 22, 22);
  margin-top: 50px;
}
